# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore session data
flask_session/

# Ignore environment variable files (if any)
.env

# Ignore system files
.DS_Store

search_log.json