#loginForm {
    display: grid;
    justify-content: center;
    padding: 10vh;
}

.login-container {
    display: grid;
    justify-content: center;
    gap: 3vh;
    border: 2px solid #779ECB;
    border-radius: 4vh;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 3vh;
    color: #779ECB;
    background-color: whitesmoke;
}

.login-form-container {
    display: grid;
    justify-content: center;
    gap: 1.5vh;
}

.login-sub-container {
    display: grid;
    gap: 0.5vh;
}

.login-subtitle {
    color: #779ECB;
}

.login-btn-submit {
    background-color: #88AED0;
    color: whitesmoke;
    border: none;
    padding: 1vh;
    border-radius: 5px;
    cursor: pointer;
}

/* Navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-to-home {
    display: flex;
    align-items: center;
    gap: 2vh;
    text-decoration: none;
    color: #88AED0;
}

.navbar-to-log {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #88AED0;
}

