#loginForm {
    display: grid;
    justify-content: center;
    padding: 10vh;
}

.login-container {
    display: grid;
    justify-content: center;
    gap: 3vh;
    border: 2px solid #779ECB;
    border-radius: 4vh;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 3vh;
    color: #779ECB;
    background-color: whitesmoke;
}

.login-form-container {
    display: grid;
    justify-content: center;
    gap: 1.5vh;
}

.login-sub-container {
    display: grid;
    gap: 0.5vh;
}

.login-subtitle {
    color: #779ECB;
}

.login-btn-submit {
    background-color: #88AED0;
    color: whitesmoke;
    border: none;
    padding: 1vh;
    border-radius: 5px;
    cursor: pointer;
}

/* Navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3vh;
    padding-bottom: 5vh;
}

.navbar-to-home {
    display: flex;
    align-items: center;
    gap: 2vh;
    text-decoration: none;
    color: #88AED0;
}

.navbar-to-log {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 1vh;
}

.navbar-btn-login {
    background-color: #779ECB;
    border-radius: 5vh;
}


.home{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
}
.home-container{
    padding: 10vh;
    color: #88AED0;
    gap: 5vh;
}
.home-cont-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    text-decoration: none;
    color: #88AED0;
}
.home-cont-2{
    display: grid;
    padding: 0vh;
}
.home-cont-3{
    display: flex;
    gap: 1vh;
    font-size: x-large;
}
.beegital-text{
    font-weight: bolder;
}
.tag-text{
    color: black;
}
.home-search-container{
    padding-left: 20%;
    padding-right: 20%;
}
.home-add-article-container{
    padding-top: 3vh;
    display: flex;
    justify-content: center;
}
.home-article-container{
    display: flex;
    padding: 10vh;
}

.result-container{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-left: 5vh;
    padding-right: 5vh;
    gap: 2vh;
}

.article-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    gap: 2vh;
}
.add-article-title-container{
    display: flex;
    justify-content: center;
    font-size: x-large;
    padding: 5%;
}
.article-form-group{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}