{% extends "navbar.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 border rounded shadow-sm bg-light">
            <div class="p-4">
                <h4 class="mb-3 text-primary">Document Details</h4>
                <div class="mb-3">
                    <h6 class="text-secondary">Title:</h6>
                    <p class="text-dark">{{ title }}</p>
                </div>
                <div class="mb-3">
                    <h6 class="text-secondary">Year:</h6>
                    <p class="text-dark">{{ year }}</p>
                </div>
                <div class="mb-3">
                    <h6 class="text-secondary">Abstract:</h6>
                    <p class="text-dark">{{ abstract }}</p>
                </div>
                {% if user != null %}
                <div class="row mb-3">
                    <a href="{{ url_for('download', file_id=file[0]) }}" class="btn btn-primary">Download this Document</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 row justify-content-center">
            <div id="pdfCarousel" class="carousel slide w-75">
                <div class="carousel-inner">
                    {% for img_data in images %}
                    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                        <img src="data:image/png;base64,{{ img_data }}" class="d-block w-100" alt="PDF page">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev btn btn-light btn-lg" type="button" data-bs-target="#pdfCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next btn btn-light btn-lg" type="button" data-bs-target="#pdfCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
