<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Digital Library{% endblock %}</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <!-- Navigation bar -->
        <nav>
            <div class="navbar-left">
                <a href="/" class="navbar-to-home">
                    <img src="{{ url_for('static', filename='images/books-logo.png') }}" alt="Home" style="width: 40px; height: 40px;">
                    <h2>Beegital Library</h2>
                </a>
            </div>
            
            <div class="navbar-right">
                <div class="navbar-btn-login">
                    {% if 'user' in session %}
                    <a href="/logout" class="navbar-to-log">Logout</a>
                    {% else %}
                        <a href="/login" class="navbar-to-log">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Footer content here</p>
    </footer>
    <!-- Add your JavaScript links here -->
</body>
</html>