{% extends "navbar.html" %}

{% block title %}Beegital Library{% endblock %}

{% block content %}
<div class="result-container">
    <div class="g-3">
        <div class="mb-3">
            <button type="button" class="btn btn-primary me-2" onclick="redirectSQL()">Query</button>
            <button type="button" class="btn btn-primary" onclick="redirectIRS()">BM25</button>
        </div>
        <form class="row g-3">
            <input name="search" type="text" class="form-control" placeholder="Search..." value="{{ search }}">
        </form>
        <div class="text-muted fs-6 p-10">{{ message }}</div>
    </div>
    <div>
        {% if user != null and user[4] == 'Admin' %}
        <div class="home-add-article-container">
            <a href="/addArticle" role="button" class="btn btn-primary">Add Article</a>
        </div>
        {% endif %}

        {% for file in files %}
        <div class="card" style="margin-top:15px; margin-bottom: 15px">
            <div class="card-body">
                <h5 class="card-title">{{ file[1] }}</h5>
                <p class="card-text">{{ file[2] }}</p>
                <a href="{{ url_for('detail', file_id=file[0], search_key=search_key) }}" class="card-link">Detail</a>
                {% if user != null %}
                <a href="{{ url_for('download', file_id=file[0], search_key=search_key) }}" class="card-link">Download</a>
                {% endif %}
            </div>
        </div>
        {% endfor%}

        {% if files|length == 0 %}
        <div class="card" style="margin-top:15px; margin-bottom: 15px">
            <div class="card-body">
                <h5 class="card-title">File not found</h5>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}